@import './variables.scss';

#svgStat svg text {
  fill: $nike !important;
  font-family: $global-font-family !important;
}

#svgStat svg text:first-of-type {
  font-size: 10px !important;
}

#svgStat svg text[dominant-baseline="hanging"] {
  font-weight: bold !important;
}

@for $i from 2 through 4 {
  #svgStat svg text:nth-of-type(#{$i}) {
    font-weight: bold !important;
  }
}

@for $i from 5 through 10 {
  #svgStat svg text:nth-of-type(#{$i}) {
    font-size: .18rem !important;
    letter-spacing: -0.02em;
  }
}