$global-font-family: 'metropolis', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif;

$font-mono: 'JetBrainsMono', 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace';

$breakpoint-mobile: 960px;
$breakpoint-stack: 530px;

$nike: rgb(224, 237, 94);
$light: rgb(204, 204, 204);
$dark: rgb(26, 26, 26);
$map-box-line-color: rgb(71, 184, 224);
$strava: #FC4C02;