@import '../../styles/variables.scss';

.headerNav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  margin-top: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
  @media screen and (max-width: 60em) {
    flex-direction: column;
    align-items: start;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 3rem;
  }
}

.logoSVG {
  fill: $nike;
  height: 5rem;
}

.headerSlogan {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}

.appsWrapper {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.stravaSVG {
  height: 1.2rem;
  fill: $nike;
  margin-right: .5rem;
}

.watchSVG {
  height: 2rem;
  fill: $nike;
}